# Protect system critical bootstrap data from accidental changes
/src/app/bootstrap/data/ @oosahon

# Protect tax keys from accidental changes
/src/domain/tax/value-objects/tax-keys.vo.ts @oosahon

# Protect docs from accidental changes
/docs/ @oosahon